/* General */
.propiedades__footer, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #7207ff;
  margin-top: 1em;
  height: 3em;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.encabezado nav ul li a {
  text-decoration: none;
  color: #f5f5dc;
}

.encabezado nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.encabezado nav .encabezado nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encabezado nav .encabezado nav ul li {
  margin: 0px 15px;
}

* {
  padding: 0%;
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

.encabezado {
  background-color: #491316;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.encabezado ul li a:hover {
  background-color: #dbdb89;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(brown), to(#491316));
  background: linear-gradient(to bottom, brown, #491316);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.logomain {
  width: 100px;
  border-radius: 50%;
}

.encabezado {
  padding: 10px;
}

/* Home */
.carru {
  width: 65px;
  height: 75px;
  margin: 0px 90px;
}

.fotohome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
}

.fotohome img {
  width: 75%;
  height: 100%;
}

.trailer {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 2em;
}

/* Galeria */
.titu__temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fec969;
  color: black;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  height: 100%;
}

.galeria img {
  width: 25%;
  height: 80%;
  margin: 1%;
}

.momentos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 4px solid #fec969;
}

.momentos {
  width: 15%;
  margin-top: 15px;
  border: 4px solid #491316;
  -webkit-transition: 0.38s ease all;
  transition: 0.38s ease all;
}

.mejormomentos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fec969;
  color: black;
}

.gale__1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gale__1 img {
  width: 100%;
  height: 100%;
}

/* Capitulos */
.capaltar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.capaltar .capitulo h3 {
  background-color: aliceblue;
  color: #831d23;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.capaltar .capitulo .imag_txt {
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.capaltar .capitulo .fotocap {
  width: 100%;
}

/* Elenco */
.granaltar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row: 1;
  grid-row: 1fr;
}

.altar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.altar .minifoto {
  width: 90%;
  border-radius: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.altar .minifoto:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.altar .fotomain:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.altar .fotomain {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 90%;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 15%;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.logofoot {
  width: 30px;
  border-radius: 50%;
}

footer {
  padding: 20px;
}

footer p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer i {
  font-size: 1.8rem;
}

footer i:hover {
  color: #831d23;
}

.cambiacara {
  margin-bottom: 1.5rem;
}

.cambiacara img {
  width: 300px;
  height: 200px;
}

.cambiacara img:last-child {
  display: none;
}

.cambiacara:hover img:last-child {
  display: block;
}

.cambiacara:hover img:first-child {
  display: none;
}

.divcar {
  margin: 0px 100px;
}

.navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: goldenrod;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0px 15px;
}

@media only screen and (max-width: 550px) {
  .granaltar {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
  .altar .minifoto {
    border-radius: 5px solid white;
  }
  .gale__1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.contei {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logoregist {
  text-align: center;
  font-size: 3em;
}

.logoregist span {
  color: #b70e21;
}

.contact-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
  height: 100vh;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 170px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.icon:nth-child(1):hover {
  -webkit-box-shadow: 0px 0px 20px #1d4ac7;
          box-shadow: 0px 0px 20px #1d4ac7;
}

.icon:nth-child(2):hover {
  -webkit-box-shadow: 0px 0px 20px #750d37;
          box-shadow: 0px 0px 20px #750d37;
}

.icon:nth-child(3):hover {
  -webkit-box-shadow: 0px 0px 20px #04f06a;
          box-shadow: 0px 0px 20px #04f06a;
}

.icon:nth-child(4):hover {
  -webkit-box-shadow: 0px 0px 20px #9ac4f8;
          box-shadow: 0px 0px 20px #9ac4f8;
}

.fa-facebook-f {
  color: #1d4ac7;
  -webkit-filter: drop-shadow(0px 0px 10px #1d4ac7);
          filter: drop-shadow(0px 0px 10px #1d4ac7);
}

.fa-instagram {
  color: #750d37;
  -webkit-filter: drop-shadow(0px 0px 10px #750d37);
          filter: drop-shadow(0px 0px 10px #750d37);
}

.fa-whatsapp {
  color: #04f06a;
  -webkit-filter: drop-shadow(0px 0px 10px #04f06a);
          filter: drop-shadow(0px 0px 10px #04f06a);
}

.fa-twitter {
  color: #9ac4f8;
  -webkit-filter: drop-shadow(0px 0px 10px #9ac4f8);
          filter: drop-shadow(0px 0px 10px #9ac4f8);
}
