$beige: #f5f5dc;
$colores-bg: (
  mostaza-claro: rgb(219, 219, 137),
  mostaza-oscuro: rgb(254, 201, 105),
  degrade-bordo: linear-gradient(to bottom, brown, rgb(73, 19, 22))
);

.encabezado nav ul li a {
  text-decoration: none;
  color: $beige;
}
.encabezado nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  .encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .encabezado nav ul li {
    margin: 0px 15px;
  }
}
* {
  padding: 0%;
  margin: 0%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}
.encabezado {
  background-color: rgb(73, 19, 22);
  position: sticky;
  top: 0;
}

.encabezado ul li a:hover {
  background-color: map-get($colores-bg , mostaza-claro );
}
body {
  background: map-get($colores-bg, degrade-bordo);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.logomain {
  width: 100px;
  border-radius: 50%;
}
.encabezado {
  padding: 10px;
}
.carru {
  width: 65px;
  height: 75px;
}
#titu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galeria {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  height: 100%;
}
.galeria img{
  width: 25%;
  height: 80%;
  margin: 1%;
}
.momentos:hover{
  transform: scale(1.1);
  border: 4px solid map-get($colores-bf, mostaza-oscuro);
}
.titu__temp {
  display: flex;
  justify-content: center;
  background-color: map-get($colores-bf, mostaza-oscuro);
  color: black;
}
.mejormomentos {
  display: flex;
  justify-content: center;
  background-color: map-get($colores-bf, mostaza-oscuro);
  color: black;
}
.momentos {
  width: 15%;
  margin-top: 15px;
  border: 4px solid rgb(73, 19, 22);
  transition: 0.38s ease all;
}
.gale__1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.gale__1 img{
  width: 100%;
  height: 100%;
}
.logofoot {
  width: 30px;
  border-radius: 50%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #831d23;
  color: rgb(219, 219, 137);
  margin-top: 1em;
  height: 2em;
  padding: 20px;
  position: sticky;
  bottom: 0;
}
footer p {
  justify-content: start;
}
.fotohome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
}
.fotohome img {
  width: 75%;
  height: 100%;
}
.trailer__titulo {
  margin-top: 20px;
}
.trailer {
  justify-self: center;
  margin-bottom: 2em;
}
.granaltar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
}
.altar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.altar .minifoto {
  width: 90%;
  border-radius: 20%;
  justify-content: center;
  transition: 0.5s ease all;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.altar .minifoto:hover {
  transform: scale(1.1);
}
.altar .fotomain:hover {
  transform: scale(1.1);
}
.altar .fotomain {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 90%;
  height: auto;
  justify-self: center;
  border-radius: 20%;
  transition: 1s ease all;
}
.contcap {
  display: grid;
}
.contcap .caps {
  width: 500px;
}
.contcap .caps2 {
  justify-self: flex-start;
  width: 500px;
}
.contcap .capname {
  background-color: aliceblue;
  color: black;
}
.cambiacara {
  margin-bottom: 1.5rem;
}
.cambiacara img {
  width: 300px;
  height: 200px;
}
.cambiacara img:last-child {
  display: none;
}
.cambiacara:hover img:last-child {
  display: block;
}
.cambiacara:hover img:first-child {
  display: none;
}
@media only screen and (max-width: 479px) {
  .granaltar {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .altar .minifoto {
    border-radius: 5px solid white;
  }
  .gale__1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
.capitulo__nombre {
  display: flex;
  background-color: aliceblue;
  justify-content: space-around;
}
.capitulo__nombre h3 {
  color: #831d23;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.capitulo__foto{
  display: flex;
  justify-content: space-around;
}
.imag_txt{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 30%;
    height: 70%;
    font-size: smaller;
}
.fotocap{
    width: 100%;
}
.divcar {
  display: flex;
  justify-content: center;
}
.navbar-collapse {
  justify-content: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: goldenrod;
}
